#content-currenttitle {
  font-size: 38px;
  margin-bottom:-20px;
}
#content-name {
   font-size: 48px;
   color: #2F4F4F
}
li {
  font-size: 18px;
  text-align: left;
}
h2 {
	font-size: 22px;
	margin-bottom: -20px;
}

h3 {
	font-size: 26px;
	margin-bottom: -10px;
}

h4 {
	font-size: 18px;
	margin-bottom: -15px;
}
